p {
  text-align: center; 
  font-size: 30px;
  color: CornflowerBlue;
}

h2 {
  text-align:center; 
  font-size: 60px;
  color: RoyalBlue;
  }

body {
  font-family: Garamond, serif;
}

body {
    background: GhostWhite;


.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 45em;
}

img {
  border: 5px solid #F8F8FF;
}
  
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F8F8FF;
  position: fixed;
  height: 50%;
  overflow: auto;
  left:0:
  top:0: 
}
  
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #1E90FF;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
